/* *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
     display: flex;
}

.navbar{
     gap: 20px;
     justify-content: space-between;
     margin: 0 auto;
     align-items: center;
}


.navbar, .banner{
     max-width: 1440px;

}

.nav-item{
     margin-right: 30px;
     list-style: none;
}

.nav-link{
     text-decoration: none;
     font-weight: 500;
     font-size: 1.125rem;
}

.brand{
     font-size: 3rem;
     font-weight: 600;
}

.dark-2{
     color: #424242;
}

.dark-3{
     color: #727272;
}

.bg-light{
     background-color: #FF900E10;
}



.banner{
       
    margin: 0 auto;
         
      
} 

.banner-container{     
      margin: 0 auto;
      max-width: 850px;
      text-align: center;
      margin-bottom: 50px;
}

.banner-container h1{
     font-size: 4rem;
     font-weight: bold;
    
     
}

.banner-container p{
     font-size: 1rem;
     font-weight: normal;
     
}

.btn{
     background-color: #FF900E;
     color: white;
     border-radius: 8px;
     border: none;
     padding: 21px;
     font-size: 1.25rem;
     font-weight: 700;
     
}

.banner img{ 
    margin-bottom: 45px;
}