/* *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
     display: flex;
}

.navbar{
     gap: 20px;
     justify-content: space-between;
     margin: 0 auto;
     align-items: center;
}


.navbar, .banner{
     max-width: 1440px;

}

.nav-item{
     margin-right: 30px;
     list-style: none;
}

.nav-link{
     text-decoration: none;
     font-weight: 500;
     font-size: 1.125rem;
}

.brand{
     font-size: 3rem;
     font-weight: 700;
}

.dark-2{
     color: #424242;
}

.dark-3{
     color: #727272;
}

.bg-light{
     background-color: #FF900E10;
}

.orange{
     color: #FF900E;
}



.banner{
       
    margin: 0 auto;
         
      
} 

.banner-container{     
      margin: 0 auto;
      max-width: 850px;
      text-align: center;
      margin-bottom: 50px;
}

.banner-container h1{
     font-size: 4rem;
     font-weight: bold;
    
     
}

.banner-container p{
     font-size: 1rem;
     font-weight: normal;
     
}

.btn{
     background-color: #FF900E;
     color: white;
     border-radius: 8px;
     border: none;
     padding: 21px;
     font-size: 1.25rem;
     font-weight: 700;
     transition: 0.5s;
     
}

.btn:hover{
     background-color: #FFFF;
     border: 1px solid #FF900E;
     color: #727272;
}

.btn:active{
     background-color: #FF900E;
     border: 1px solid #FFFF;
     color: #727272;
}




.banner img{ 
    margin-bottom: 45px;
    border-radius: 8px;
}

main{
     max-width: 1440px;
     margin: 0 auto;
}

.features-container{
     display: flex;
     gap: 73px;
     align-items: center;
}

.feature-img{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     max-width: 100%;
     row-gap: 24px;
     column-gap: 24px;
     margin-top: 85px;

}

.features-text{
     max-width: 530px;
}

.features-text span{
     font-size: 3rem;
}

.s-1{
     font-weight: 500;
}

.s-2{
     font-weight: 600;
}

.features-text p{
     font-size: 1rem;
     font-weight: normal;
     line-height: 26px;
}
 
  .love-container{
       
    gap: 136px;
     
  }

  .love-feature h3{
     font-size: 3rem;
     font-weight: 700;
     border-left: 5px solid #FF900E;
     padding-left: 21px;
  }

  .love-feature{
     width: 580px;
     margin-top: 169px;
  }

  .love-feature p{
     margin-bottom: 30px;
  }

 .love-card{
     border: none;
     background-color: #FFFF;
     padding: 30px;
     border-radius: 8px;
     margin-bottom: 20px;
     box-shadow: 0 4px 30px 0 #00000006;
     transition: 0.2s;
 }

  
 .love-img{
     margin-top: 130px;
 }

 .fact-tittle{
     max-width: 542px;
 } 

 .fact-tittle h3{ 
      font-size: 3rem;
      font-weight: 700;
 }

 .fact-card{
     display: flex;
     gap: 130px;
     margin-left: 50px;
     margin-right: 50px;
     margin-top: 100px;

 }

 .card{
     border: 1px solid #FF900E;
     border-radius: 8px;
     padding: 30px;
     text-align: center;
     width: 240px;
     height: 240px;
 }

 .card img{
     margin-top: 10px;
 }

 .card h2{
     font-size: 3rem;
     font-weight: 500;
     margin-bottom: 5px;
 }

 .card h3{
     font-size: 1.2rem;
     font-weight: 600;
 }

 .sponsor-tittle{
     
     
     text-align: center;
     width: 540px;
     margin: 0 auto;
     margin-top: 180px;
     

 }

 .sponsor-tittle h3{
     font-size: 3rem;
     font-weight: 700;
 }

 .sponsor-tittle p{
     font-size: 1rem;
     font-weight: normal;
 }

 .sponsor-img {
     display: flex;
     gap: 154px;
     justify-content: center;
     margin-top: 50px;
 }

 .footer-container{
     max-width: 1440px;
     margin: 0 auto;
     background-color: #FFF4E7;
     margin-top: 169px;
     margin-bottom: 100px;
 }

 .footer-tittle{
     padding: 10px;
     text-align: center;
 }


@media screen and (max-width: 576px) {
    
    .navbar{
         flex-direction: column;
         gap: 1px;
    }
      
    .banner .banner-container{
         max-width: 100%;
    }

    .brand{
         font-size: 3rem;
    }

    .banner img{
         width: 100%;
    }

    .feature-img{
         grid-template-columns: repeat(1,1fr);
    }
    
    .features-container{ 
        flex-direction: column;
    }
           
    .features-text{
         text-align: center;
    }

    .love-container{
         flex-direction: column-reverse;
         gap: 10px;
    }

    .love-img img{
        max-width: 100%;
    }
    .love-feature{ 
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }

    .fact-tittle{
         text-align: center;
    }

    .fact-card{ 
         display: grid;
         grid-template-columns: repeat(1,1fr);
         justify-content: center;
         row-gap: 30px;       
    }

    .sponsor-img{
         flex-direction: column;
         max-width: 50%;
         margin: 0 auto;
         margin-top: 100px;
    }

    .sponsor-tittle{ 
        max-width: 100%;
    }


}